<?php if ($modules) { ?>
<div id="column-left">
  <?php foreach ($modules as $module) { ?>
  <?php echo $module; ?>
  <?php } ?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TrumHangMy 200*600 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:198px;height:600px"
     data-ad-client="ca-pub-9579207990306895"
     data-ad-slot="5045382564"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<?php } ?> 
