</div>
<!--
<div style="float: right;
text-align: right;">

<iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Ftrumhangmy&amp;width=450&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;show_faces=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:40px;" allowTransparency="true"></iframe>





</div>-->
<div id="footer">

<div class="column">
<h3>Thông tin</h3>
<ul>
<li><a href="khuyen_mai">Khuyến mãi</a></li>
<li><a href="index.php">Sản phẩm mới</a></li>
<li><a href="index.php">Sản phẩm bán chạy</a></li>
<li><a href="index.php">Cửa hàng </a></li>
<li><a href="lien-he">Liên hệ</a></li>
<li><a href="site-map">Site map</a></li>
</ul>

</div>


<div class="column">
<h3>Tài khoản</h3>
<ul>
<li><a href="don-hang">Đơn hàng</a></li>
<li><a href="dia-chi">Địa chỉ</a></li>
<li><a href="thong-tin-tai-khoan">Thông tin cá nhân</a></li>
<li><a>Vouchers </a></li>

</ul>

</div>

<div class="column">
<h3>Tìm chúng tôi trên</h3>
<ul>
<li> <img src="catalog/view/theme/default/image/twitter.png" style="width:15px;height:15px;" /> &nbsp;&nbsp;<a href="hhttps://twitter.com/trumhangmy" target="_blank">Twitter</a></li>
<li><img src="catalog/view/theme/default/image/facebook.png" style="width:15px;height:15px;" />&nbsp;&nbsp;<a href="https://www.facebook.com/trumhangusa" target="_blank">Facebook</a></li>
<li><img src="catalog/view/theme/default/image/instagram.png" style="width:15px;height:15px;" />&nbsp;&nbsp;<a href="https://www.instagram.com/trumhangmy/" target="_blank">Instagram </a></li>
<li>





</li>
</ul>

</div>


<div class="column">
<h3>Thông tin liên hệ</h3>
<ul>
<li>TRÙM HÀNG MỸ </li>
<li>Email : trumhangmy@gmail.com </li>

<li>Lau 1 - 77 An Duong Vuong Q.5</li>
<li>093.8088.893- 098.3035.311</li>
<li><a>  Copyright © 2014 <a href="index.php">trumhangmy.com</a> </a></li>

</ul>

</div>

<p style="clear:both; padding-top:6px; text-align:left; padding-left:10px;">
<a href="//plus.google.com/u/0/114521417435609040980?prsrc=3"
   rel="publisher" target="_blank" style="text-decoration:none;display:inline-block;color:#aeaaaa;text-align:left; font:13px/16px arial,sans-serif;white-space:nowrap;">
<span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:0px;">Shop mỹ phẩm xách tay Trùm Hàng Mỹ</span><span style="display:inline-block;vertical-align:top;margin-right:13px; margin-top:0px;">on</span>
<img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
</a></p>
</div>
</div>
<script type='text/javascript'>window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",15224]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);</script>
<script>
$(document).ready(function(){
  $(document).mouseup(function (e)
  {
      var container = $("#cart, #cart .content");
      if (!container.is(e.target) // if the target of the click isn't the container...
          && container.has(e.target).length === 0) // ... nor a descendant of the container
      {
          if($("#cart").hasClass("active"))
            $("#cart").removeClass("active")
      }
      var menuContainer = $("#menu, #menu-button");
      if (!menuContainer.is(e.target) // if the target of the click isn't the container...
          && menuContainer.has(e.target).length === 0) // ... nor a descendant of the container
      {
        if($("#menu").hasClass("active")){
          $("#menu").removeClass("active");
          $("#menu-button").html("&#9776;");
        }
      }
  });
  $("#menu-button").click(function(){
    if($("#menu").hasClass("active")){
      $("#menu").removeClass("active");
      $("#menu-button").html("&#9776;");
    }else{
      $("#menu").addClass("active");
      $("#menu-button").html("x");
    }
  });
  $('#menu ul li a').each(function(){
    if($(this).next('div').length > 0){
      $(this).attr('href','javascript:void(0)');
    }
  });
});
</script>


</body></html>
