<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content-home">


	<?php echo $content_top; ?>

<h1 style="display: none;"><?php echo $heading_title; ?></h1>
<div id="tab-home">
<div id="tabs" class="htabs"><a href="#tab-feature1" class="selected" style="display: inline;">Sản phẩm mới</a>
           <!-- <a href="#tab-feature1" style="display: inline;">Popular</a> -->
            <a href="#tab-feature2" style="display: inline;">Sản phẩm bán chạy</a>
 </div>

<?php echo $content_bottom; ?></div></div>
<script type="text/javascript"><!--
$('#tabs a').tabs();
//--></script> 

<script type="text/javascript"><!--
$('#tabs-news a').tabs();
//--></script> 
<?php echo $footer; ?>