<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>

<?php  if(isset($link_pay)&&isset($code_pay)&&$code_pay=="nganluong"){ echo '<script language="javascript">location.href ="'.$link_pay.'";</script>'; } ?>
<div id="content">

<?php echo $content_top; ?>
  <div class="breadcrumb">
  <?php $i=0;?>
    <?php foreach ($breadcrumbs as $breadcrumb) { $i++; ?>
  <span class="bread <?php echo 'bread'.$i ?>"><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></span>
    <?php } ?>
  </div>
  <h1><?php echo $heading_title; ?></h1>


  <?php echo $text_message; ?>
  <div class="buttons">
    <div class="right"><a href="<?php echo $continue; ?>" class="button"><?php echo $button_continue; ?></a></div>
  </div>
  <?php echo $content_bottom; ?></div>
  
 
<?php echo $footer; ?>
