<div>
  <div class="top"></div>
  <div id="googleadsense" class="middle">
	<?php if ($googleadsense_google_client) { ?>
    <script type="text/javascript"><!--
		google_ad_client = "<?php echo $googleadsense_google_client; ?>";
		/* 180x150, created 6/16/10 */
		google_ad_slot = "<?php echo $googleadsense_google_slot; ?>";
		google_ad_width = "<?php echo $googleadsense_google_width; ?>";
		google_ad_height = "<?php echo $googleadsense_google_height; ?>";
		//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	<?php } ?>
    </div>
  <div class="bottom">&nbsp;</div>
</div>