<!--<div id="carousel11">


  <marquee onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="left" loop="-1" scrollamount="3" style="height:173px;" >
<div style="width:2000px;">

    <?php foreach ($banners as $banner) { ?>
    <div style="float:left;width:200px;margin-right:10px;display: table-row;"><a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" title="<?php echo $banner['title']; ?>" /></a></div>
    <?php } ?>

</div>
</marquee>
</div>-->
<!--

<div id="tabs-news1" class="htabs"   style="margin-bottom:30px;">

<a class="selected" style="display: inline;">Nhận xét khách hàng</a>

 </div>


 <style type="text/css">

#slideCont {
     margin-bottom: 20px;
     text-align:left;
}
#slideCont img {
     margin: 5px;
     width: 250px;
     height: 200px;
}

#colorbox{
	z-index: 9999;
}

</style>

<script type="text/javascript">


function clip() {

     var contWidth = 900;

     var contHeight = 200;

     var id1 = document.getElementById('slideA');
     var id2 = document.getElementById('slideB');

     id1.style.left = parseInt(id1.style.left)-1 + 'px';

     document.getElementById('slideCont').style.width = contWidth + "px";
     document.getElementById('slideCont').style.clip = 'rect(auto,'+ contWidth +'px,' + contHeight +'px,auto)';
     id2.style.display = '';
     if(parseFloat(id1.style.left) == -(contWidth))     {
         id1.style.left = '0px';
     }
     setTimeout(clip,15)
}

function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

addLoadEvent(function() {
  clip();
});

</script>


<div id="slideCont" style="overflow: hidden; position: relative; z-index: 1; width: 900px; height: 200px; top: 0px; clip: rect(auto, 900px, 200px, auto);">
       <div id="slideA" style="overflow: hidden; position: absolute; z-index: 1; top: 0px; left: -194px; width: auto; height: 200px;">
        <div style="float: left;" id="innerSlideA">
          <?php foreach ($banners as $banner) { ?>
    <a href="<?php echo $banner['popup']; ?>" class="colorbox" ><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" title="<?php echo $banner['title']; ?>" /></a>
    <?php } ?>


        </div>


            <div id="slideB" style="overflow: hidden; position: relative; z-index: 1; top: 0px; left: 0px; height: 200px;">
           <?php foreach ($banners as $banner) { ?>
    <a href="<?php echo $banner['popup']; ?>" class="colorbox" ><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" title="<?php echo $banner['title']; ?>" /></a>
    <?php } ?>
    </div>

    </div>

</div>
-->
<div id="tabs-news1" class="htabs customer"   style="margin-bottom:30px;">

<a class="selected" style="display: inline;">Nhận xét khách hàng</a>

 </div>

<div id="carousel<?php echo $module; ?>">
  <ul class="jcarousel-skin-opencart">
    <?php foreach ($banners as $banner) { ?>
    <li>  <a href="<?php echo $banner['popup']; ?>" class="colorbox" ><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" title="<?php echo $banner['title']; ?>" /></a></li>
    <?php } ?>
  </ul>
</div>
<script type="text/javascript">



$('#carousel<?php echo $module; ?> ul').jcarousel({
  vertical: false,
  visible: <?php echo $limit; ?>,

  scroll:<?php echo $scroll; ?>,
   circular: "true",
  auto: 3,
  interval: 1000,
  hoverPause: true,

  wrap: 'circular',
    buttonNextEvent: 'mouseover',
        buttonPrevEvent: 'mouseover',
        initCallback: mycarousel_initCallback




});
    function mycarousel_initCallback(carousel)
{

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};


</script>



<script type="text/javascript" src="catalog/view/javascript/jquery/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen" />


<script type="text/javascript">
$(document).ready(function() {
	$('.colorbox').colorbox({
		overlayClose: true,
		opacity: 0.5,
		rel: "colorbox"
	});
});
</script>
