<div id="tab-feature1" class="tab-content">
<div class="box-content">
    <div class="box-product">
      <?php $i=0;?>
      <?php foreach ($products as $product) { $i=$i+1;?>
      <div class="pro-<?php  if ($i%3==0){echo 3;}?>">
        <?php if ($product['thumb']) { ?>
        <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
        <?php } ?>

        <?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
         <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
          <?php } ?>
        </div>
        <?php } ?>
           <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
        <div class="description"><?php echo $product['description']; ?></div>
        <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>

        <div class="cart"><div class="bor-gio">


        <div class="gio"><input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" style="border:0px solid #CCC !important"/></div></div></div>
      </div>
      <?php } ?>
    </div>

</div>



<div id="tabs-news1" class="htabs htabs-selected"   style="margin-top:30px;">

<a class="selected km" style="display: inline;">Khuyến mãi</a>

<a class="selected wsusa" style="display: inline;"><!--Website Mỹ--> Hoá đơn mua hàng</a>

 <a style="display: inline;" class="selected title-margin">Tin tức mới</a>
 </div>


</div>
