
<div id="banner10">

  <div class="box-content">
  <!--<div class="tit"> Tin tức mới </div>-->
         <ul class="list-custom" style="margin-left: -30px;">

      <?php foreach ($newss as $news) { ?>
 
        
        
        <li><a href="<?php echo $news['href']; ?>"><?php echo $news['name']; ?></a></li>


        
    
      <?php } ?>
    </ul>
  </div>

</div>

