<div class="box">
  <div class="box-heading">Liên Hệ</div>
  <div class="box-content" style="text-align: center; float:left;width:198px" >
  	

  	<div class="fb-left"><a href="https://www.facebook.com/trumhangmy" target="_blank">Facebook</a></div>

  	<div class="callus-left"> 093.8088.893 <br/> 098.3035.311</div>

  	 <div class="mail-left"><a> trumhangmy@gmail.com</a></div>
  </div>
</div>

<div class="box">
  <div class="box-heading">Thống kê truy cập</div>
  <div class="box-content" style="text-align: center; float:left;width:198px" >
  	
<!-- Histats.com  START  (standard)--><!--
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="website hit counter" ><script  type="text/javascript" >
try {Histats.start(1,2882628,4,326,112,62,"00011111");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2882628&101" alt="website hit counter" border="0"></a></noscript>-->
<!-- Histats.com  END  -->


<!-- Histats.com  START  (standard)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="web stats analysis" ><script  type="text/javascript" >
try {Histats.start(1,2899391,4,3024,130,80,"00011111");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2899391&101" alt="web stats analysis" border="0"></a></noscript>
<!-- Histats.com  END  -->

  </div>
</div>
