#menu-button{
  top: 0;
  position: absolute;
  left: 0;
  color: #FFFFFF;
  font-size: 38px;
  background: #DE2739;
  padding: 12px 0;
  line-height: 1;
  display: none;
  width: 64px;
  text-align: center;
}
.callus-mobile{
  display: none;
}

/************* Ipad ************/
@media (max-width: 980px) {
  ins, #carousel0, #tabs-news1.customer{display: none !important;}
  #container, #page, .fb_iframe_widget span, #content-info, .content.box-contact{width: 100% !important; box-sizing:border-box;}
  #menu,#tab-home, .callus{width:auto}
  .box-product .image img{width: 100%; height: auto;}
  #banner1,#banner2, #banner10{width: 30%; margin-right: 5%; box-sizing: border-box;}
  #banner10{margin: 0; height: auto;}
  #welcome{width: auto; margin: 0;}
  .box-product .name a{font-size: 20px;}
  #page{margin-top: 0;}
  .nav-header{height: auto;}
  .callus{
    padding: 20px 0;
    height: auto;
    background: none;
    margin-left: 85px;
  }
  /**** Header ****/
  #header #logo {
      float: left;
      width: 30%;
      margin: 0;
  }
  #header #logo img {
    width: 100%;
    height: auto;
  }
  #header #welcome{
    float:right;
    position: relative;
    font-size: 15px;
    margin-top: 20px;
  }
  #header #cart{
    margin: 0;
    position: absolute;
    top: -50px;
    right: 0;
  }
  #header #cart .heading{
    margin-left: 50px;
    line-height: 22px;
  }
  #header #cart .content{
    width: 310px;
    position: absolute;
    top: 50px;
    right: 0;
  }
  #header #search{
    margin: 0;
  }
  #header #search{
    padding-left:15px;
    box-sizing: content-box;
  }
  #menu-button{
    display: block;
  }
  #menu{
    padding: 0;
    position: absolute;
    z-index: 100;
    left: -200px;
    top: 61px;
    width: 200px;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  #menu.active{
    left: 0;
  }
  #menu ul li{
    float: none;
    width: auto;
    text-align: left;
    border: 0;
    padding: 0 10px;
  }
  #menu ul li a{
    text-align: left;
  }
  #menu > ul > li > div{
    margin-left: 100px;
  }
  #menu > ul > li > div > ul > li > div{
    margin-left: 100px !important;
    margin-top: 0;
  }
  #carousel1 li img{
    width: 100%;
  }
  #box-fb{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 20px;
  }
  #banner0{
    width: 100%;
    margin: 20px 0;
  }
  .box-product > div{
    width: 30%;
    margin-right: 0;
    margin-right: 5%;
  }
  .box-product .image{
    width: 100%;
    box-sizing: border-box;
  }
  .htabs.htabs-selected a.selected{
    width: 30%;
    box-sizing: border-box;
    border: 0;
    margin-left: 5% !important;
  }
  .htabs.htabs-selected a.selected:first-child{
    margin: 0 !important;
  }
  .box-product .description{
    height: auto;
    margin-bottom: 10px;
    font-size: 18px
  }
  #banner1 img, #banner2 img{
    width: 100%;
  }
  #column-left{
    margin: 0 2%;
    width: 28%;
  }
  #content{
    width: 67%;
  }
  #column-left .box-product > div{
    width: 100%;
  }
  #content .image{
    width: 30%;
    margin-right: 2%;
  }
  #content .image img{width: 100%; height: auto;}
  #content .info-ca{width: 34%;}
  #content .info-ca .description{font-size: 13px;}
  #content .info-gia{width: 30%; margin-top: 0;}
  #content .product-list .name a{line-height: 18px;}
  #content .product-list .name {margin-bottom: 10px;}
  #content .product-info{overflow:hidden;}
  #content .product-info div{width: 100%; box-sizing: border-box;}
  #content .product-info .share1  .fb_iframe_widget{width: 320px; display: block}
  #content .product-info .share1{margin-top:-40px}
  #content #nganluong{
    margin-left: 0 !important;
    float: right !important;
    width: auto;
    margin-top: 25px !important;
  }
  #content .stock{
    width: auto !important;
    background: none;
    color: green;
  }
  #content .htabs a{
    padding: 16px 10px;
    font-size: 10px;
  }
  #content .htabs a.selected{
    width: auto;
    margin-left: 0 !important;
  }
  .news .fb_iframe_widget iframe{position: relative}
  .news .share1{width: 100%;}
  .news img{width: 100% !important; height: auto !important}
}


@media (max-width: 767px) {
  #content-info{padding: 20px 5px;}
  .htabs a{font-size: 10px;}
  .header-welcome{display: none;}
  #nganluong img{
    width: 150px;
  }
  #tab-description img{width: 100% !important; height: auto;}
  #box-fb iframe{width: 90% !important}
  .callus{
    font-size: 13px;
    padding: 13px 0;
    margin-left: 55px;
  }
  #menu-button{
    font-size: 20px;
    padding: 10px 0 11px 0;
    width: 45px;
  }
  #header #cart{
    height: 40px;
    top: -41px;
    min-width: 0;
    margin-right: 5px;
    background-position: 0;
    background-size: 25px;
  }
  #header #cart .heading h4, #header #cart .heading a span{
    font-size: 13px;
    line-height: 7px;
  }
  #header #cart .heading{
    padding: 17px 0 10px 0;
    line-height: 1;
    margin-left: 25px;
  }
  #header #search{
    width: 220px;
    padding-left: 5px;
  }
  #header #search input{
    width: 188px;
    height: 25px;
    font-size: 15px;
  }
  #search .button-search{
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
  #header #welcome{
    margin-top: 10px;
    font-size: 15px;
    margin-right: 5px;
  }
  #header #welcome a{
    font-size: 15px;
    margin: 0;
  }
  #banner0 img{
    width: 90%;
  }
  /*.htabs a{
    padding: 13px 20px;
    font-size: 15px;
  }*/
  .htabs{height: 44px;}
  .htabs.htabs-selected{
    display: none;
  }
  .box-product > div{
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  #banner1, #banner2, #banner10 {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }
  #footer .column {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
  }
  #menu{top: 41px;}
  #menu ul li a{font-size: 13px;}
  #menu > ul > li > div, #menu > ul > li > div > ul > li > div{margin-left: 30px !important;}
  #column-left {
    margin: 0;
    width: 100%;
    display: none;
  }
  #content{
    width: 98%;
    margin-left: 1%;
  }
  .category-list img {
    width: 100%;
    height: auto;
  }
  #content .info-ca{
    width: 65%;
    border: 0;
  }
  #content .info-ca .description{
    padding: 0;
  }
  #content .info-gia {
    width: 65%;
    padding-left: 32%;
    margin-top: 10px;
    margin-left: 0;
  }
  h1{
    font-size: 25px;
  }
  #header #cart .content{
    top:41px;
    width: 290px;
  }
  #tab-home{
    margin: 0;
    width: 90%;
    margin-left: 5%;
  }
  .content .left, .content .right, .login-content .left, .login-content .right{
    width: 100%;
  }
  #header #cart .heading h4{display: none;}
  #header #cart .heading a{margin-left: 0;}
}

@media (max-width: 413px){
  .nav-header{height: 41px;}
  .callus-mobile{
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    font-size: 16px;
    margin: 16px 0;
  }
  .callus{display: none;}
  #header #logo {
    float: none;
    width: 60%;
    margin-left: 20%;
  }
  #header #search{width: 100%;}
  #header #search input {
    width: 100%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    height: 45px;
  }
  #search .button-search{display: none;}
  #header #welcome{font-size: 12px; width: 100%; text-align: center;}
  #header #welcome a{font-size: 13px;}
  .htabs a{padding: 17px;}
  #content .product-info .fb_iframe_widget{
    width: 100%;
  }
}
