﻿<html>
<head>
	<title>Untitled</title>
</head>
<body>html {

	overflow-y: scroll;

	margin: 0;

	padding: 0;

}

body {

/*
	background:url('../image/bg-page.jpg')right 0 no-repeat #24272d;*/
		background:url("../image/bg.jpg") fixed repeat;

	color: #000000;

	font-family: Arial, Helvetica, sans-serif;

	margin: 0px;

	padding: 0px;

	float: left;

	width: 100%;

}

body, td, th, input, textarea, select, a {

	font-size: 12px;

}

h1, .welcome {

	color: #636E75;

	font: Verdana;

	margin-top: 0px;

	margin-bottom: 20px;

	font-size: 32px;

	font-weight: normal;

	text-shadow: 0 0 1px rgba(0, 0, 0, .01);

}

h2 {

	color: #000000;

	font-size: 16px;

	margin-top: 0px;

	margin-bottom: 5px;

}

p {

	margin-top: 0px;

	margin-bottom: 20px;

}

a, a:visited, a b {

	color: #000;
text-decoration: none;
cursor: pointer;
font-weight: bold;
}

a:hover {

	text-decoration: none;

}

a img {

	border: none;

}

form {

	padding: 0;

	margin: 0;

	display: inline;

}

input[type='text'], input[type='password'], textarea {

	background: #F8F8F8;

	border: 1px solid #CCCCCC;

	padding: 3px;

	margin-left: 0px;

	margin-right: 0px;

}

select {

	background: #F8F8F8;

	border: 1px solid #CCCCCC;

	padding: 2px;

}

label {

	cursor: pointer;

}

/* layout */

#container {

	width: 980px;

	margin-left: auto;

	margin-right: auto;

	text-align: left;

}

#page{

	width: 980px;

	float: left;

	height: auto;

	background: #FFF;

	margin-top: 30px;

}

.nav-header{

	background: #31353d;

	width: 100%;

	float: left;

	height: 50px;

	

}

.callus{
width: 850px;
height: 34px;
float: left;
background: url('../image/phone.png')no-repeat 0px;
padding-left: 42px;
color: #FFF;
font-size: 18px;
margin-left: 29px;
padding-top: 18px;

}
.fb-left{
width: 177px;
height: 36px;
float: left;
background: url('../image/fb.png')no-repeat 3px;
padding-left: 41px;
color: #DE2739;
font-size: 21px;
margin-left: -10px;
padding-top: 2px;
text-align: left;
}
.fb-left a{
color: #DE2739;
font-size: 15px;
margin-left: 1px;
padding-top: 9px;
text-align: left;
float: left;
text-decoration: none;
}

.mail-left{
width: 177px;
height: 36px;
float: left;
background: url('../image/mail.png')no-repeat 3px;
padding-left: 41px;
color: #DE2739;
font-size: 21px;
margin-left: -10px;
padding-top: 2px;
text-align: left;
}

.mail-left a{
color: #DE2739;
font-size: 15px;
margin-left: 1px;
padding-top: 9px;
text-align: left;
float: left;
text-decoration: none
}

.callus-left{
width: 176px;
height: 47px;
float: left;
background: url('../image/tel.jpg')no-repeat 1px;
padding-left: 41px;
color: #DE2739;
margin-left: -10px;
padding-top: 13px;
text-align: left;
color: #DE2739;
font-size: 13px;
text-align: left;
float: left;
text-decoration: none;
}


#column-left {

	float: left;

	width: 220px;

	margin-right: 30px;

	margin-left: 40px;

}

#column-right {

	float: right;

	width: 180px;

}

#content-info{

float: left;

	width: 900px;

	padding-top: 20px;

	padding-left: 40px;

	padding-right: 40px;

	padding-bottom: 20px;	

}

#content {

	min-height: 400px;

	width: 650px;

	float: left;

	

}

#content-out{

	width: 100%;

	float: left;

	height: auto;

}

#column-left + #column-right + #content, #column-left + #content {



}

#column-right + #content {

	

}

/* header */

#header {

	float: left;

	width: 100%;

	margin-bottom: 7px;

	padding-bottom: 4px;

	position: relative;

	z-index: 99;

}

#header #logo {

	float: left;

	width: 305px;

	margin-left: 40px;

}

#language {

	position: absolute;

	top: 15px;

	left: 320px;

	width: 80px;

	color: #999;

	line-height: 17px;

}

#language img {

	cursor: pointer;

	margin-right: 5px;

}

#currency {

	width: 75px;

	position: absolute;

	top: 15px;

	left: 425px;

	color: #999;

	line-height: 17px;

}

#currency a {

	display: inline-block;

	padding: 2px 4px;

	border: 1px solid #CCC;

	color: #999;

	text-decoration: none;

	margin-right: 2px;

	margin-bottom: 2px;

}

#currency a b {

	color: #000;

	text-decoration: none;

}

#header #cart {

	float: right;

	background:url('../image/cart.png')no-repeat 5px #31353d;

	z-index: 9;

	min-width: 220px;

	margin-top: 70px;

margin-right: 40px;
height: 41px;

}

#header #cart .heading {

	float: left;

	background: #31353d;

	position: relative;

	z-index: 1;

	margin-left: 60px;

	

	padding:10px 0px 10px 0px;





}

#header #cart .heading h4 {

	color:#FFF;

	font-size: 15px;

	font-weight: bold;

	margin-top: 0px;

	margin-bottom: 3px;

	float: left;

	

}

#header #cart .heading a {

	color: #747b89;
text-decoration: none;
float: left;
margin-left: 18px;
text-transform: uppercase;
margin-top: 1px;

}

#header #cart .heading a span {

	

		float: left;

}

#header #cart .content {

	clear: both;

	display: none;

	position: relative;

	top: -1px;

	padding: 8px;

	min-height: 150px;

	border-top: 1px solid #EEEEEE;

	border-left: 1px solid #EEEEEE;

	border-right: 1px solid #EEEEEE;

	border-bottom: 1px solid #EEEEEE;




	-webkit-box-shadow: 0px 2px 2px #DDDDDD;

	-moz-box-shadow: 0px 2px 2px #DDDDDD;

	box-shadow: 0px 2px 2px #DDDDDD;

	background: #FFF;
	width: 202px;

}

#header #cart.active .heading {

	
}
#header #cart.active .content {
	display: block;
}

.mini-cart-info table {

	border-collapse: collapse;

	width: 100%;

	margin-bottom: 5px;

}

.mini-cart-info td {

	color: #000;

	vertical-align: top;

	padding: 10px 5px;

	border-bottom: 1px solid #EEEEEE;

}

.mini-cart-info .image {

	width: 1px;

}

.mini-cart-info .image img {

	border: 1px solid #EEEEEE;

	text-align: left;

}

.mini-cart-info .name small {

	color: #666;

}

.mini-cart-info .quantity {

	text-align: right;

}

.mini-cart-info td.total {

	text-align: right;

}

.mini-cart-info .remove {

	text-align: right;

}

.mini-cart-info .remove img {

	cursor: pointer;

}

.mini-cart-total {

	text-align: right;

}

.mini-cart-total table {

	border-collapse: collapse;

	display: inline-block;

	margin-bottom: 5px;

}

.mini-cart-total td {

	color: #000;

	padding: 4px;

}

#header #cart .checkout {

	text-align: right;

	clear: both;

}

#header #cart .empty {

	padding-top: 50px;

	text-align: center;

}

#header #search {

	margin-top: 70px;

	margin-right: 40px;

	float: right;

background: #EFEFEF;

	width: 296px;

	z-index: 15;

}

#header .button-search {

	float: left;

	padding-top: 3px;

	background: url('../image/search.png') center center no-repeat;

	width: 46px;

	height: 34px;

	

	cursor: pointer;

}

#header #search input {

	float: left;

	display: inline-block;



height: 34px;

border: none;

background: none;

z-index: 99999;

background: #EFEFEF;

width: 244px;

}

 #welcome {

/* float: right; */
width: 453px;
text-align: right;
color: #FFF;
text-align: right;
margin-top: 25px;
font-size: 12px;
margin-left: 497px;
position: absolute;

}
 #welcome a{



	margin-right: 10px;
	color: #000;
	text-decoration: none;
	font-size: 12px;

	text-align: left;

}


#header .links {

	position: absolute;

	right: 0px;

	bottom: 3px;

	font-size: 10px;

	padding-right: 10px;

}

#header .links a {

	float: left;

	display: block;

	padding: 0px 0px 0px 7px;

	color: #38B0E3;

	text-decoration: none;

	font-size: 12px;

}

#header .links a + a {

	margin-left: 8px;

	border-left: 1px solid #CCC;

}

/* menu */

#menu {

	padding-left: 40px;

	padding-right: 40px;

	width: 900px;

	float: left;



	border-bottom: 1px solid #000000;



	margin-bottom: 15px;

	border-bottom: 5px solid #DE2739;



}

#menu ul {

	list-style: none;

	margin: 0;

	padding: 0;

	background: #31353d;

	float: left;

	width: 100%;



}
li.latest{
	border-right: 0px solid #44474e !important;
}


#menu > ul > li {

	float: left;

border-right: 1px solid #44474e;

width: 19.58%;

}

#menu > ul > li:hover {

	background: #DE2739;

color: white;

-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear

}

#menu > ul > li > a {

	font: 600 13px/0px "Open Sans", sans-serif;

text-transform: uppercase;

text-align: center;

color: white;

display: block;

padding: 30px 5px;

text-decoration: none;

font-weight: bold;

-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}

#menu > ul > li:hover > a {

		background: #DE2739;

color: white;

-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear

}

#menu > ul > li > div {

	display: none;

	background:#DE2739;

	position: absolute;

	z-index: 99999;



	border: 1px solid #FFF;

	width: 180px;



}

#menu > ul > li:hover > div {

	display: table;

}

#menu > ul > li > div > ul {

	display: table-cell;

}



#menu > ul > li ul > li {

	background:#DE2739;
	border-bottom: 1px solid #FFF;
}

#menu > ul > li ul > li > a {

	text-decoration: none;

	padding: 12px;

	color: #FFFFFF;

	display: block;

	white-space: nowrap;

	width: 180px;

	-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear

	text-transform: uppercase;

}

#menu > ul > li ul > li:hover {

	background: #31353d;

	-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear

}

#menu > ul > li > div > ul > li > a {

	color: #FFFFFF;

}

#menu > ul > li > div > ul > li > div{
	display: none;
	position: absolute;
	margin-left: 205px;
margin-top: -39px;
	border: 1px solid #FFF;
}
#menu > ul > li > div > ul > li:hover > div{
	display: block;
}
#menu > ul > li > div > ul > li > div > ul > li{

	border-bottom: 1px solid #FFF;
	}


.bread{
background: url("../image/breads.png") no-repeat scroll right -17px transparent;
color: #7E7E7E;
float: left;
font-size: 110%;
height: auto;
margin: 0 18px 1px 0;
padding:5px 18px 6px 2px;
text-decoration: none;
text-shadow: none;
}
.bread1 a{
	width: 100%;
	float: left;
	height: 100%;
	white-space: nowrap;
padding: 5px 0px 0px 20px;
}
.bread1{
	background-image: url("../image/home-icon.png"), url("../image/breads.png");
background-position: left 4px, right center;
background-repeat: no-repeat;
color: transparent;
display: inline-block;
margin: 0 10px;
padding: 2px 6px 0 0;
width: 90px;
text-shadow: none;
height: 24px;

}
.breadcrumb a{
	text-decoration: none;
	color: #7E7E7E
}
.breadcrumb {
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
border: 1px solid #DDDDDD;

height: 26px;
margin: 0px 0 10px;
overflow: hidden;
position: relative;
behavior: url(js/PIE.htc);

}
.tags a{
	background:#DA4A38;
	color:#fff;
	padding: 3px;
}
.tags a:hover {
	background:#000;
}

.success, .warning, .attention, .information {

	padding: 10px 10px 10px 33px;

	margin-bottom: 15px;

	color: #555555;

	-webkit-border-radius: 5px 5px 5px 5px;

	-moz-border-radius: 5px 5px 5px 5px;

	-khtml-border-radius: 5px 5px 5px 5px;

	border-radius: 5px 5px 5px 5px;

}

.success {

	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;

	border: 1px solid #BBDF8D;

	-webkit-border-radius: 5px 5px 5px 5px;

	-moz-border-radius: 5px 5px 5px 5px;

	-khtml-border-radius: 5px 5px 5px 5px;

	border-radius: 5px 5px 5px 5px;

}

.warning {

	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;

	border: 1px solid #F8ACAC;

	-webkit-border-radius: 5px 5px 5px 5px;

	-moz-border-radius: 5px 5px 5px 5px;

	-khtml-border-radius: 5px 5px 5px 5px;

	border-radius: 5px 5px 5px 5px;

}

.attention {

	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;

	border: 1px solid #F2DD8C;

	-webkit-border-radius: 5px 5px 5px 5px;

	-moz-border-radius: 5px 5px 5px 5px;

	-khtml-border-radius: 5px 5px 5px 5px;

	border-radius: 5px 5px 5px 5px;

}

.success .close, .warning .close, .attention .close, .information .close {

	float: right;

	padding-top: 4px;

	padding-right: 4px;

	cursor: pointer;

}

.requi#DE2739 {

	color: #FF0000;

	font-weight: bold;

}

.error {

	display: block;

	color: #FF0000;

}

.help {

	color: #999;

	font-size: 10px;

	font-weight: normal;

	font-family: Verdana, Geneva, sans-serif;

	display: block;

}

table.form {

	width: 100%;

	border-collapse: collapse;

	margin-bottom: 20px;

}

table.form tr td:first-child {

	width: 150px;

}

table.form > * > * > td {

	color: #000000;

}

table.form td {

	padding: 4px;

}

input.large-field, select.large-field {

	width: 300px;

}

table.list {

	border-collapse: collapse;

	width: 100%;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	margin-bottom: 20px;

}

table.list td {

	border-right: 1px solid #DDDDDD;

	border-bottom: 1px solid #DDDDDD;

}

table.list thead td {

	background-color: #EFEFEF;

	padding: 0px 5px;

}

table.list thead td a, .list thead td {

	text-decoration: none;

	color: #222222;

	font-weight: bold;

}

table.list tbody td {

	padding: 0px 5px;

}

table.list .left {

	text-align: left;

	padding: 7px;

}

table.list .right {

	text-align: right;

	padding: 7px;

}

table.list .center {

	text-align: center;

	padding: 7px;

}

table.radio {

	width: 100%;

	border-collapse: collapse;

}

table.radio td {

	padding: 5px;

}

table.radio td label {

	display: block;

}

table.radio tr td:first-child {

	width: 1px;

}

table.radio tr td:first-child input {

	margin-top: 1px;

}

table.radio tr.highlight:hover td {

	background: #F1FFDD;

	cursor: pointer;

}

.pagination {

	border-top: 1px solid #EEEEEE;

	padding-top: 8px;

	display: inline-block;

	width: 100%;

	margin-bottom: 10px;

}

.pagination .links {

	float: left;

}

.pagination .links a {

	display: inline-block;

	border: 1px solid #EEEEEE;

	padding: 4px 10px;

	text-decoration: none;

	color: #A3A3A3;

}

.pagination .links b {

	display: inline-block;

	border: 1px solid #269BC6;

	padding: 4px 10px;

	font-weight: normal;

	text-decoration: none;

	color: #269BC6;

	background: #FFFFFF;

}

.pagination .results {

	float: right;

	padding-top: 3px;

}

/* button */

a.button, input.button {

cursor: pointer;
color: #333;
line-height: 11px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
background: #FFF;
text-transform: uppercase;
padding: 10px 10px 8px 10px;
border: 1px solid #CCC !important;

}

a.button {

	display: inline-block;

	text-decoration: none;

		color: #333;

}

input.button {
margin: 0;
border: 0;
height: 29px;
padding: 4px 7px 0px 5px;
width: 99px;

}

a.button:hover, input.button:hover {

	background-position: 0px -24px;

}

.buttons {

	background: #FFFFFF;

	border: 1px solid #EEEEEE;

	overflow: auto;

	padding: 6px;

	margin-bottom: 20px;

}

.buttons .left {

	float: left;

	text-align: left;

}

.buttons .right {

	float: right;

	text-align: right;

}

.buttons .center {

	text-align: center;

	margin-left: auto;

	margin-right: auto;

}

.htabs {

		float: left;

	width: 100%;

	height: 50px;

	background: #31353d;

	

	-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}

.htabs a {

	text-decoration: none;

	border-right: 1px solid #44474e;
/*
font-size: 17px;*/
font-size: 14px;
/*
padding: 15px 35px 15px 35px;*/
padding: 17px 35px 17px 35px;

	float: left;

	color: white;

text-transform: uppercase;
white-space: nowrap;





background: #31353d;

outline: none;

margin: 0;



-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}

.htabs a.selected {

	background: #DE2739;

color: white;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}

.tab-content {

	float: left;

	width: 100%;

	margin-bottom: 30px;

	z-index: 2;

	/*overflow: auto;*/

}

/* box */

.box {

	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.box .box-heading {

	background:#31353d;

	padding: 12px 10px 12px 20px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: bold;

	line-height: 18px;

	color: #FFF;

	text-transform: uppercase;

}

.box .box-content {

	background: #FFFFFF;

	

	border-left: 1px solid #DBDEE1;

	border-right: 1px solid #DBDEE1;

	border-bottom: 1px solid #DBDEE1;

	padding: 10px;

}

/* box products */

.box-product {

	width: 100%;

	overflow: auto;

}

.box-product > div {

	width: 272px;

	float: left;

	display: inline-block;

	vertical-align: top;

	margin-right: 42px;

	margin-top: 30px;

}









.pro-3,.pro-6,.pro-9{

	margin-right: 0px !important;

}

.bor-gio{

width: 134px !important;
float: left;
border: 1px solid #CCC

}

.gio{
/*background: url('../image/cart.png')no-repeat #DE2739 0px -4px;
width: 28px;
height: 25px;
float: left;
padding-top: 4px;

padding-left: 10px;
padding-right: 0px;

*/


}
.gio:before{
font-family: "FontAwesome";
content: "";
font-size: 20px;
font-weight: normal;
line-height: 20px;
color: #fff;
background: #DE2739;
z-index: 2;
/* top: 50%; */
/* margin-top: -10px; */
/* left: 0; */
/* width: 58px; */
text-align: center;
padding: 3px 8px 6px 8px;
}
.box-product .description{
color: #8d8a8a;
	width: 100%;

	text-align: justify;

	height: 50px;

	float: left;

}
/*
.gio:hover{

background:url('../image/cart.png')no-repeat  #31353d;

}*/

#column-left + #column-right + #content .box-product > div {

	width: 119px;

}

.box-product .image {

	display: block;

	padding: 3px;

	float: left;

	border: 1px solid #efefef;

	width:262px;

}

.box-product .image img {

	width: 262px;

	height: 262px;

	float: left;

}

.latest > div {

	width: 198px;

	float: left;

	display: inline-block;

	vertical-align: top;

	margin-right: 0px;

	margin-top: 0px;
	margin-bottom: 20px;

}

.latest .image img {

	width: 190px;

	height: 190px;

	float: left;

}


.latest  .image {

	display: block;



	float: left;

	border: 1px solid #DBDEE1;
	padding: 3px;
		width: 190px;

}


.box-product .name {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;

	float: left;

}

.box-product .name a {

	color: #31353d;

	text-decoration: none;

	display: block;

	margin-bottom: 4px;

	font-size: 16px;
	  min-height: 54px;

}

.box-product .name a:hover {

	color: #DE2739;

	

}

.box-product .price {

	display: block;



	color: #DE2739;

	font-size: 19px;



	float: left;

	width: 100%;

	margin-top: 20px;

}

.box-product .price-old {

	color: #000;
	font-size: 18px;

	text-decoration: line-through;

}

.box-product .price-new {


color: #F00;
}

.box-product .rating {

	display: block;

	margin-bottom: 4px;

}

/* box category */

ul.box-category, ul.box-category ul {

	list-style: none;

	margin: 0;

	padding: 0;

}

ul.box-category > li:first-child {

	padding: 0px 0px 8px 0px;

}

ul.box-category > li {

	padding: 10px 0px 10px 0px;

}

ul.box-category > li + li {

	border-top: 1px solid #EEEEEE;

}

ul.box-category > li > a {

	text-decoration: none;
	font-size: 14px;
	color: #DE2739;
	text-transform: uppercase;

}
ul.box-category > li > a:hover {
font-weight: bold;

}

ul.box-category > li ul {

	display: block;

}

ul.box-category > li a.active {

	font-weight: bold;

}

ul.box-category > li a.active + ul {

	display: block;

}

ul.box-category > li ul > li {

	padding: 7px 0px 7px 10px;

border-bottom: 1px dotted #EEEEEE;
}

ul.box-category > li ul > li > a {

	text-decoration: none;
color:#31353d;
	display: block;
	text-transform: uppercase;

}

ul.box-category > li ul > li > a:hover{
	font-weight: bold;
}

ul.box-category > li ul > li > a.active {

	font-weight: bold;

}

/* box filter */

ul.box-filter, ul.box-filter ul {

	list-style: none;

	margin: 0;

	padding: 0;

}

ul.box-filter span {

	font-weight: bold;

	border-bottom: 1px solid #EEEEEE;	

	display: block;

	padding-bottom: 5px;

	margin-bottom: 8px;

}

ul.box-filter > li ul {

	padding-bottom: 10px;

}

/* content */

#content .content {

	padding: 10px;

	overflow: auto;

	margin-bottom: 20px;

	border: 1px solid #EEEEEE;

}

#content .content .left {

	float: left;

	width: 49%;

}

#content .content .right {

	float: right;

	width: 49%;

}

/* category */

.category-info {

	overflow: auto;

	margin-bottom: 20px;

}

.category-info .image {

	float: left;

	padding: 5px;

	margin-right: 15px;

	border: 1px solid #E7E7E7;

}

.category-list {

	overflow: auto;

	margin-bottom: 20px;

}

.category-list ul {

	float: left;

	width: 18%;

}

/* manufacturer */

.manufacturer-list {

	border: 1px solid #DBDEE1;

	padding: 5px;

	overflow: auto;

	margin-bottom: 20px;

}

.manufacturer-heading {

	background: #F8F8F8;

	font-size: 15px;

	font-weight: bold;

	padding: 5px 8px;

	margin-bottom: 6px;

}

.manufacturer-content {

	padding: 8px;

}

.manufacturer-list ul {

	float: left;

	width: 25%;

	margin: 0;

	padding: 0;

	list-style: none;

	margin-bottom: 10px;

}

/* product */

.product-filter {

	border-bottom: 1px solid #EEEEEE;

	padding-bottom: 5px;

	overflow: auto;

}

.product-filter .display {

	margin-right: 15px;

	float: left;

	padding-top: 4px;

	color: #333;

}

.product-filter .display a {

	font-weight: bold;

}

.product-filter .sort {

	float: right;

	color: #333;

}

.product-filter .limit {

	margin-left: 15px;

	float: right;

	color: #333;

}

.product-compare {

	padding-top: 6px;

	margin-bottom: 25px;

	font-weight: bold;

}

.product-compare a {

	text-decoration: none;

	font-weight: bold;

}

.product-list > div {

	overflow: auto;

	margin-bottom: 15px;

}

.product-list .right {

	float: right;

	margin-left: 15px;

}

.product-list > div + div {

	border-top: 1px solid #EEEEEE;

	padding-top: 16px;

}

.product-list .image {

	float: left;

	margin-right: 20px;

	width: 220px;





	

}


.product-list .image img{

	float: left;

	margin-right: 40px;

	width: 220px;

	height: 220px;



	

}

.product-list{

	width: 100%;

	float: left;

	margin-top: 30px;

}

.info-ca{

	width: 228px;

	float: left;

	border-right: 1px solid #CCC;

}

.info-gia{

	width: 169px;
float: left;
margin-left: 12px;
margin-top:50px;

}

.product-list .image img {

	padding: 3px;



}

.product-list .name {

	margin-bottom: 3px;

}

.product-list .name a {
	font-size: 18px;
	color: #DE2739;

	font-weight: bold;

	text-decoration: none;

}

.product-list .description {
	font-size: 15px;
line-height: 17px;

	margin-bottom: 5px;

	color: #6a6a6a;

	padding-right: 10px;

	text-align: justify;

}

.product-list .rating {

	color: #7B7B7B;	
	margin-top: 10px;
	margin-bottom: 10px;

}

.product-list .price {

	float: left;

	width: 100%;

	color:#DE2739;

	font-size: 18px;

}

.product-list .price-old {

	color: #000;
	font-size: 17px;
	text-decoration: line-through;

}

.product-list .price-new {
	color: #F00;
	font-weight: bold;

}

.product-list .price-tax {

	font-size: 12px;

	font-weight: normal;

	color: #BBBBBB;

}

.product-list .cart {


}

.product-list .wishlist, .product-list .compare {

	margin-bottom: 3px;

}

.product-list .wishlist a {

	color: #333333;

	text-decoration: none;

	padding-left: 18px;

	display: block;

	background: url('../image/add.png') left center no-repeat;

}

.product-list .compare a {

	color: #333333;

	text-decoration: none;

	padding-left: 18px;

	display: block;

	background: url('../image/add.png') left 60% no-repeat;

}

.product-grid {

	width: 100%;

	overflow: auto;

}

.product-grid > div {

	width: 130px;

	display: inline-block;

	vertical-align: top;

	margin-right: 20px;

	margin-bottom: 15px;

}

#column-left + #column-right + #content .product-grid > div {

	width: 125px;

}

.product-grid .image {

	display: block;

	margin-bottom: 0px;

}

.product-grid .image img {

	padding: 3px;

	border: 1px solid #E7E7E7;

}

.product-grid .name a {

	color: #38B0E3;

	font-weight: bold;

	text-decoration: none;

	display: block;

	margin-bottom: 4px;

}

.product-grid .description {

	display: none;

}

.product-grid .rating {

	display: block;

	margin-bottom: 4px;

}

.product-grid .price {

	display: block;

	font-weight: bold;

	color: #333333;

	margin-bottom: 4px;

}

.product-grid .price-old {

	color: #F00;

	text-decoration: line-through;

}

.product-grid .price-new {

	font-weight: bold;

}

.product-grid .price .price-tax {

	display: none;

}

.product-grid .cart {

	margin-bottom: 3px;

}

.product-grid .wishlist, .product-grid .compare {

	margin-bottom: 3px;

}

.product-grid .wishlist a {

	color: #333333;

	text-decoration: none;

	padding-left: 18px;

	display: block;

	background: url('../image/add.png') left center no-repeat;

}

.product-grid .compare a {

	color: #333333;

	text-decoration: none;

	padding-left: 18px;

	display: block;

	background: url('../image/add.png') left center no-repeat;

}

/* Product */

.product-info {

	overflow: auto;

	margin-bottom: 20px;

	float: left;

	width: 100%;

}

.product-info > .left {

	width: 629px;

	float: left;

	text-align: center;

}

.product-info > .right {

	width: 100%;

	float: left;

}

.product-info .image {

	float: left;

	margin-bottom: 20px;

	padding: 10px;

	text-align: center;

	width: 100%;

}

.product-info .image-additional {

	width: 640px;

	margin-left: -10px;

	clear: both;

	overflow: hidden;

}

.product-info .image-additional img {

	border: 1px solid #E7E7E7;

}

.product-info .image-additional a {

	float: left;

	display: block;

	margin-left: 10px;

	margin-bottom: 10px;

}

.product-info .description {

	border-top: 1px solid #E7E7E7;

	font-size: 14px;

	padding: 5px 5px 10px 5px;

	margin-bottom: 10px;

	line-height: 20px;

	color: #4D4D4D;

}

.product-info .description span {

	color: #7f7f7f;

	font-size: 14px;

}

.product-info .description a {

	color: #4D4D4D;

	text-decoration: none;

}

.product-info .price {

	overflow: auto;

	

	padding: 0px 5px 10px 5px;

	margin-bottom: 10px;

	font-size: 18px;

	font-weight: bold;

	color: #333333;

}

.product-info .price-old {

	color: #F00;

	text-decoration: line-through;

}

.product-info .price-new {

}

.product-info .price-tax {

	font-size: 12px;

	font-weight: normal;

	color: #999;

}

.product-info .price .reward {

	font-size: 12px;

	font-weight: normal;

	color: #999;

}

.product-info .price .discount {

	font-weight: normal;

	font-size: 12px;

	color: #4D4D4D;

}

.product-info .options {

	border-bottom: 1px solid #E7E7E7;

	padding: 0px 5px 10px 5px;

	margin-bottom: 10px;

	color: #000000;

}

.product-info .option-image {

	margin-top: 3px;

	margin-bottom: 10px;

}

.product-info .option-image label {

	display: block;

	width: 100%;

	height: 100%;

}

.product-info .option-image img {

	margin-right: 5px;

	border: 1px solid #CCCCCC;

	cursor: pointer;

}

.product-info .cart {

	

	padding: 0px 5px 10px 5px;

	margin-bottom: 20px;

	color: #4D4D4D;

}

.product-info .cart div > span {

	color: #999;

}

.product-info .cart .links {

	display: inline-block;

	vertical-align: middle;

}

.product-info .cart .minimum {

	padding-top: 5px;

	font-size: 11px;

	color: #999;

}

.product-info .review {

	color: #4D4D4D;

	border-top: 1px solid #E7E7E7;

	border-left: 1px solid #E7E7E7;

	border-right: 1px solid #E7E7E7;

	margin-bottom: 10px;

}

.product-info .review > div {

	padding: 8px;

	border-bottom: 1px solid #E7E7E7;

	line-height: 20px;

}

.product-info .review > div > span {

	color: #38B0E3;

}

.product-info .review .share {

	overflow: auto;

	line-height: normal;

}

.product-info .review .share a {

	text-decoration: none;

}

.review-list {

	padding: 10px;

	overflow: auto;

	margin-bottom: 20px;

	border: 1px solid #EEEEEE;

}

.review-list .author {

	float: left;

	margin-bottom: 20px;

}

.review-list .rating {

	float: right;

	margin-bottom: 20px;

}

.review-list .text {

	clear: both;

}

.attribute {

	border-collapse: collapse;

	width: 100%;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	margin-bottom: 20px;

}

.attribute thead td, .attribute thead tr td:first-child {

	color: #000000;

	font-size: 14px;

	font-weight: bold;

	background: #F7F7F7;

	text-align: left;

}

.attribute tr td:first-child {

	color: #000000;

	font-weight: bold;

	text-align: right;

	width: 20%;

}

.attribute td {

	padding: 7px;

	color: #4D4D4D;

	text-align: center;

	vertical-align: top;

	border-right: 1px solid #DDDDDD;

	border-bottom: 1px solid #DDDDDD;

}

.compare-info {

	border-collapse: collapse;

	width: 100%;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	margin-bottom: 20px;

}

.compare-info thead td, .compare-info thead tr td:first-child {

	color: #000000;

	font-size: 14px;

	font-weight: bold;

	background: #F7F7F7;

	text-align: left;

}

.compare-info tr td:first-child {

	color: #000000;

	font-weight: bold;

	text-align: right;

}

.compare-info td {

	padding: 7px;

	width: 20%;

	color: #4D4D4D;

	text-align: center;

	vertical-align: top;

	border-right: 1px solid #DDDDDD;

	border-bottom: 1px solid #DDDDDD;

}

.compare-info .name a {

	font-weight: bold;

}

.compare-info .price-old {

	font-weight: bold;

	color: #F00;

	text-decoration: line-through;

}

.compare-info .price-new {

	font-weight: bold;

}

/* wishlist */

.wishlist-info table {

	width: 100%;

	border-collapse: collapse;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	border-right: 1px solid #DDDDDD;

	margin-bottom: 20px;

}

.wishlist-info td {

	padding: 7px;

}

.wishlist-info thead td {

	color: #4D4D4D;

	font-weight: bold;

	background-color: #F7F7F7;

	border-bottom: 1px solid #DDDDDD;

}

.wishlist-info thead .image {

	text-align: center;

}

.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {

	text-align: left;

}

.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {

	text-align: right;

}

.wishlist-info tbody td {

	vertical-align: top;

	border-bottom: 1px solid #DDDDDD;

}

.wishlist-info tbody .image img {

	border: 1px solid #DDDDDD;

}

.wishlist-info tbody .image {

	text-align: center;

}

.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {

	text-align: left;

}

.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {

	text-align: right;

}

.wishlist-info tbody .price s {

	color: #F00;

}

.wishlist-info tbody .action img {

	cursor: pointer;

}

.login-content {

	margin-bottom: 20px;

	overflow: auto;

}

.login-content .left {

	float: left;

	width: 48%;

}

.login-content .right {

	float: right;

	width: 48%

}

.login-content .left .content, .login-content .right .content {

	min-height: 190px;

}

/* orders */

.order-list {

	margin-bottom: 10px;

}

.order-list .order-id {

	width: 49%;

	float: left;

	margin-bottom: 2px;

}

.order-list .order-status {

	width: 49%;

	float: right;

	text-align: right;

	margin-bottom: 2px;

}

.order-list .order-content {

	padding: 10px 0px;

	display: inline-block;

	width: 100%;

	margin-bottom: 20px;

	border-top: 1px solid #EEEEEE;

	border-bottom: 1px solid #EEEEEE;

}

.order-list .order-content div {

	float: left;

	width: 33.3%;

}

.order-list .order-info {

	text-align: right;

}

.order-detail {

	background: #EFEFEF;

	font-weight: bold;

}

/* returns */

.return-list {

	margin-bottom: 10px;

}

.return-list .return-id {

	width: 49%;

	float: left;

	margin-bottom: 2px;

}

.return-list .return-status {

	width: 49%;

	float: right;

	text-align: right;

	margin-bottom: 2px;

}

.return-list .return-content {

	padding: 10px 0px;

	display: inline-block;

	width: 100%;

	margin-bottom: 20px;

	border-top: 1px solid #EEEEEE;

	border-bottom: 1px solid #EEEEEE;

}

.return-list .return-content div {

	float: left;

	width: 33.3%;

}

.return-list .return-info {

	text-align: right;

}

.return-product {

	overflow: auto;

	margin-bottom: 20px;

}

.return-name {

	float: left;

	width: 31%;

	margin-right: 15px;

}

.return-model {

	float: left;

	width: 31%;

	margin-right: 15px;

}

.return-quantity {

	float: left;

	width: 31%;

}

.return-detail {

	overflow: auto;

	margin-bottom: 20px;

}

.return-reason {

	float: left;

	width: 31%;

	margin-right: 15px;

}

.return-opened {

	float: left;

	width: 31%;

	margin-right: 15px;

}

.return-opened textarea {

	width: 98%;

	vertical-align: top;

}

.return-captcha {

	float: left;

}

.download-list {

	margin-bottom: 10px;

}

.download-list .download-id {

	width: 49%;

	float: left;

	margin-bottom: 2px;

}

.download-list .download-status {

	width: 49%;

	float: right;

	text-align: right;

	margin-bottom: 2px;

}

.download-list .download-content {

	padding: 10px 0px;

	display: inline-block;

	width: 100%;

	margin-bottom: 20px;

	border-top: 1px solid #EEEEEE;

	border-bottom: 1px solid #EEEEEE;

}

.download-list .download-content div {

	float: left;

	width: 33.3%;

}

.download-list .download-info {

	text-align: right;

}

/* cart */

.cart-info table {

	width: 100%;

	margin-bottom: 15px;

	border-collapse: collapse;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	border-right: 1px solid #DDDDDD;

}

.cart-info td {

	padding: 7px;

}

.cart-info thead td {

	color: #4D4D4D;

	font-weight: bold;

	background-color: #F7F7F7;

	border-bottom: 1px solid #DDDDDD;

}

.cart-info thead .image {

	text-align: center;

}

.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {

	text-align: left;

}

.cart-info thead .price, .cart-info thead .total {

	text-align: right;

}

.cart-info tbody td {

	vertical-align: top;

	border-bottom: 1px solid #DDDDDD;

}

.cart-info tbody .image img {

	border: 1px solid #DDDDDD;

}

.cart-info tbody .image {

	text-align: center;

}

.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {

	text-align: left;

}

.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {

	position: relative;

	top: 4px;

	cursor: pointer;

}

.cart-info tbody .price, .cart-info tbody .total {

	text-align: right;

}

.cart-info tbody span.stock {

	color: #F00;

	font-weight: bold;

}

.cart-module > div {

	display: none;

}

.cart-total {

	border-top: 1px solid #DDDDDD;

	overflow: auto;

	padding-top: 8px;

	margin-bottom: 15px;

}

.cart-total table {

	float: right;

}

.cart-total td {

	padding: 3px;

	text-align: right;

}

/* checkout */

.checkout-heading {

	background: #F8F8F8;

	border: 1px solid #DBDEE1;

	padding: 8px;

	font-weight: bold;

	font-size: 13px;

	color: #555555;

	margin-bottom: 15px;

}

.checkout-heading a {

	float: right;

	margin-top: 1px;

	font-weight: normal;

	text-decoration: none;

}

.checkout-content {

	padding: 0px 0px 15px 0px;

	display: none;

	overflow: auto;

}

.checkout-content .left {

	float: left;

	width: 48%;

}

.checkout-content .right {

	float: right;

	width: 48%;

}

.checkout-content .buttons {

	clear: both;

}

.checkout-product table {

	width: 100%;

	border-collapse: collapse;

	border-top: 1px solid #DDDDDD;

	border-left: 1px solid #DDDDDD;

	border-right: 1px solid #DDDDDD;

	margin-bottom: 20px;

}

.checkout-product td {

	padding: 7px;

}

.checkout-product thead td {

	color: #4D4D4D;

	font-weight: bold;

	background-color: #F7F7F7;

	border-bottom: 1px solid #DDDDDD;

}

.checkout-product thead .name, .checkout-product thead .model {

	text-align: left;

}

.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {

	text-align: right;

}

.checkout-product tbody td {

	vertical-align: top;

	border-bottom: 1px solid #DDDDDD;

}

.checkout-product tbody .name, .checkout-product tbody .model {

	text-align: left;

}

.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {

	text-align: right;

}

.checkout-product tfoot td {

	text-align: right;

	border-bottom: 1px solid #DDDDDD;

}

.contact-info {

	overflow: auto;
line-height: 26px;
}

.contact-info .left {

	float: left;

	width: 48%;

}

.contact-info .right {

	float: left;

	width: 48%;

}

.sitemap-info {

	overflow: auto;

	margin-bottom: 40px;

}

.sitemap-info ul{
	list-style: none;
}


.sitemap-info ul li{
	margin-top: 8px;
	margin-bottom: 8px;
	list-style: none;
}

.sitemap-info ul li a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}

.sitemap-info ul li a:hover{
	text-decoration: none;
	color: #DE2739;
	font-size: 14px;
}
.sitemap-info .left {

	float: left;

	width: 48%;

}

.sitemap-info .right {

	float: left;

	width: 48%;

}

/* footer */ 

#footer {
	margin-top: 10px;
	float: left;

	width: 100%;

	clear: both;

	overflow: auto;

	min-height: 50px;

	text-align: center;

	padding-top: 20px;

	background: #31353d;

	color: #FFF;

}



#footer a{

	color: #FFF;

}

#footer h3 {

	color: #F1F1F1;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;

	margin-top: 0px;

	margin-bottom: 8px;

}

#footer .column {

	float: left;

	width: 25%;

	min-height: 100px;

}

#footer .column ul {
	list-style: none;
	margin-top: 0px;
	text-align: left;
	

	padding-left: 10px;

}

#footer .column ul li {

	margin-bottom: 3px;
	color: #AEAAAA;
}

#footer .column a {

	text-decoration: none;

	color: #AEAAAA;

}

#footer .column a:hover {

	text-decoration: underline;

}

#powe#DE2739 {

	margin-top: 5px;

	text-align: right;

	clear: both;

}

/* banner */

.banner div {

	text-align: center;

	width: 100%;

	display: none;

}

.banner div img {


}



.slide-title{

	font-size : 45px;

text-transform: uppercase;

color: #31353d;



}



.silde-des{

	text-transform: uppercase;

color: #DE2739;

font-size: 30px;



}

.slide-btn{

	font-size: 20px;

	text-transform: uppercase;

background: #DE2739;

color: white;

padding: 30px 22px 30px 22px;

-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}

.slide-btn a{

	font-size: 20px;

	text-transform: uppercase;

	border: none;

color: white;

text-decoration: none;

font-size: 

}

.slide-btn:hover{

	

background: #31353d;

border: none;

color: white;



-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-webkit-transition: all 0.2s linear;

transition: all 0.2s linear;

}



#carousel1{

/*
	background: #f0f1f1; */

	float: left;
	margin-top: 30px;
	width: 100%;

}



#carousel1 li img{

	border: 0 !important;

}

#box-fb{
		float: left;
	margin-left: 40px;
	width: 435px;

	margin-right: 15px;

	margin-top: 30px;
	margin-bottom: 30px;
}

#banner0{

	float: right;
	margin-left: 15px;
	width: 435px;

	margin-right: 40px;

	margin-top: 30px;
	margin-bottom: 30px;

}



#banner1{

float: left;
width: 270px;
text-align: center;
border: 1px solid #efefef;
margin-bottom: 30px;
padding: 5px 0px 2px 0px;
margin-right: 40px;
}

#banner2{
float: left;
width: 270px;
text-align: center;
border: 1px solid #efefef;
margin-bottom: 30px;
padding: 5px 0px 2px 0px;
margin-right:28px;
}

#tab-home{

	float: left;

	width: 900px;

	margin-left: 40px;

	margin-right: 40px;

}

.htabs{



}



.stock {display: inline-block;
font-style: normal;
padding: 0 5px;
margin: 0 7px;
background: url('../image/stock-w.png') left 0px no-repeat;
font-size: 14px;
height: 39px;
line-height: 12px;
padding-left: 0px;
padding-right: 5px;
padding-top: 10px;
text-align: center;
width: 48px;
color: #fff;
font-weight: normal;

}
#powered{
	text-align: right;
	margin-right: 30px;
}

.info-ca-spec {
width: 410px;
float: left;
border-right: 1px solid #CCC;
}

.list-custom li {
padding-bottom: 12px;
}

.list-custom li a {
font-size: 11px;
color: #bcbcbc;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
text-decoration: none;
}
.list-custom li a:hover{
	color: #DE2739;
}
.list-custom li a:before {
color: #de2739;

content: "\f0da";
font-size: 13px;
color: #DE2739;
font-weight: normal;
font-style: normal;
font-family: "FontAwesome";
margin-right: 15px;
text-decoration: none;


}

#banner10{
padding-top: 0px;
width: 270px;
margin-left: 15px;
float: left;
height: 250px;
	border: 1px solid #efefef;
}
ul.list-custom{
	list-style: none;

}
.tit{
	padding-left: 40px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #31353d;
}

.box-contact{
	width: 880px;
	padding: 10px;
	float: left;
	margin-bottom: 30px;
	background:url('../image/contact-form.png') repeat-x;
	padding-top: 30px;
-moz-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;
-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;
box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;
}

#carousel11{
float: left;
/* width: 900px; */
height: 170px;
overflow: hidden;
display: inline-block;

}

a.title-margin{
float: right;
margin-right: 0;
padding-right: 132px
}


.tin-khac ul li a{
	font-size: 15px;
	text-decoration: none;
	color: #000;
}

.km{
	padding-right: 130px !important;
}

.wsusa{
padding-right: 129px !important;
margin-left: 40px !important
}
.share1{
	margin-bottom:20px;margin-top:-58px;
	width: 65%;
	float: left;
}

#carousel0{
	float: left;
	width: 900px;
}
a.addthis_button_tweet{ width:86px;}</body>
</html>
